<h1 align="center"><%=@user.username%>'s profile</h1>

<p align="center"><%= gravatar_for @user, size: 150 %><p>

<h4 align='center'><%= @user.username %></h4>

<div class="center">
  <%= will_paginate @user_articles %>
</div>
<%= render "articles/article", obj: @user_articles %>
<div class="center">
  <%= will_paginate @user_articles %>
</div>